body {
    font-family: sans-serif;
    background-image: linear-gradient(lightblue, blue);
}
h1, h2{
    text-align: center;
}
div{
    margin-right: 16%;
    margin-left: 20px;
    font-size: 20px;
}
h1{
    width: 500px;
    box-shadow: 0 7px 3px 0 blue;
    margin-left: auto;
    margin-right: auto;
}
h2{
    width: 250px;
    box-shadow: 0 7px 3px 0 blue;
    margin-right: auto;
    margin-left: auto;
}
a{
    border-radius: 5px;
    padding: 3px;
    background-color: lightblue;
    text-decoration: none;
}
.card{
    width: 300px;
    text-align: center;
    background-color: lightskyblue;
    border: 10px double rgb(75, 174, 213);
    margin-top: 5px;
}
.cards{
    display: flex;
    justify-content: flex-start;
}
footer{
    margin-top: 50px;
    border-top: 4px dotted slateblue;
    padding-top: 13px;
    width: 400px;
    text-align: center;
    color: beige;
}
.grer:hover{
    background-color: orange;
}
